body {
  background: url('../images/desert.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hi {
  color: white;
  font-family: 'Oswald', 'Fjalla One', 'Cairo', sans-serif;
  font-size: 50px;
  padding: 25%;
}
h3 {
  padding: 5%;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.aboutme {
  background-color: #ffffff;
  border: solid;
  border-color: #dddddd;
  border-width: 1px;
  margin: 2% 30% 10% 30%;
}













#myname {
  text-align: center;
  color: white;
  background-color: #4aaaa5;

  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 28px;
  border-bottom: solid;
  border-width: 1px;
}

.container {
  background-color: #ffffff;
  border: solid;
  border-color: #dddddd;
  border-width: 1px;
  margin: 2% 30% 10% 30%;
}

#headeraboutme {

  color: #4aaaa5;
  font-size: 32px;
  font-family: Georgia, Times, "Times New Roman", serif;
  border-bottom: solid;
  border-bottom-color: #777777;
  border-width: 1px;

}

img {
  max-height: 200px;
  max-width: 200px;
}

.myaboutme {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
  line-height: 30px;
}

.groupofphotos {
  height: 100%;
  color:black;
  position: relative;
  text-align: center;
}

.tealfooter {
  background: #4aaaa5;
  width: 100%;
  height: 78px;
  position: fixed;
  bottom: 0px;
  z-index: 1;
}

.footer {
  background-color: #666666;
  width: 100%;
  height: 70px;
  position: fixed;
  bottom: 0px;
  z-index: 1;

}

#myfooter {
  font-size: 10px;
  color: white;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 5px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}